*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

.header{
    width: 100%;
    background: #FFC300;
    height: 70px;
    display: flex;
    justify-content: space-between;
    gap: 35%;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1000000;
    padding-inline: 1rem;
    top:0;
}
.logo {
    width: 100px; /* Ancho deseado de la imagen */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
}


main {
    padding: 5rem;
    background-image: url('../images/background_nya-bot.png');
    background-repeat: repeat;
    min-height: calc(100vh - 70px);
    padding-top: 1rem;
}




.products{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.product-shop{
    height: 324px;
    width: 249px;
    border-radius: 28px;
    object-fit: contain;
    background: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.product-shop img{
    object-fit: contain;
    height: 80%;
    width: 100%;
}

.product-shop h3{
    margin-top: 1rem;
}


.box-principal1 {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

p{
    margin-top: 1rem !important;
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos para las secciones */
.box-principalhome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 70px;
    padding-top: 2rem;
    gap: 2rem;
}



.sectionshome {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    max-width: 800px; /* Establece el ancho máximo de los botones */
    width: 100%;
    margin-top: -5rem;
    gap: 5rem;
}

.sectionhome {
    text-align: center;
}

.section-buttonhome {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.section-imghome {
    width: 400px; /* Ajusta el tamaño de las imágenes */
    height: 400px; /* Ajusta el tamaño de las imágenes */
    border-radius: 50%;
    margin-bottom: 10px;
}

.sectionhome h3 {
    font-size: 1.2rem;
    margin: 0;
}

.auth-links{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.auth-links .btn {
    margin-left: 10px; /* Espaciado entre los botones */
}
.auth-links a {
    display: inline-block; /* Hace que los enlaces se comporten como bloques */
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    background-color: #5c611c; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    margin-right: 10px; /* Añade un espacio entre los botones */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

.auth-links a:hover {
    background-color: #000000; /* Cambia el color de fondo al pasar el mouse */
}

.profile-container{
    margin-top: 3rem;
    display: flex;

}

.codes-created{
    margin-left: 25rem;
    width: 100%;
    padding: 3rem;
}

.codes-created .codes{
    border-radius: 10px;
    border: 2px solid #FFC300;
    padding: 1rem;
    width: 100%;
}

.profile-info {
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra */
    width: 800px; /* Ancho máximo */
    height: 120px;
}
.codes-created h2 {
    font-size: 1.5rem; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir a mayúsculas */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: left; /* Centrar el texto */
}

.profile-info h1 {
    margin-bottom: 20px; /* Espacio inferior */
}

.profile-info p {
    margin-bottom: 10px; /* Espacio inferior */
}


/* Estilos para los códigos creados */
.codeperfil {
    position: relative;
    background-color: #ffffff; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Espacio inferior entre códigos */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transición suave */
    display: flex; /* Para que los elementos se alineen en fila */
    justify-content: flex-start; /* Alinear los elementos al principio */
    align-items: center; /* Para alinear verticalmente */
    max-width: 600px; /* Ancho máximo */
}

.code-link{
    position: relative;
}

.userCode{
    text-decoration: none;
    color: lightgray;
    position: absolute;
    right: 10px;
    top: 10px;
}

.codeperfil:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.codeperfil:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.codeperfil img {
    width: 50px; /* Tamaño de la imagen */
    height: 50px; /* Tamaño de la imagen */
    margin-right: 10px; /* Espacio a la derecha de la imagen */
}

.codeperfil h3 {
    margin-bottom: 5px; /* Espacio inferior */
    color: #007bff; /* Color del título */
}

.codeperfil p {
    margin: 0; /* Eliminar el margen */
    color: #6c757d; /* Color del texto */
}
.code-description {
    flex: 1; /* Para que ocupe el espacio restante */
}

.code-description h3 {
    margin-bottom: 5px; /* Espacio inferior */
    color: #007bff; /* Color del título */
}

.code-description p {
    margin: 0; /* Eliminar el margen */
    color: #6c757d; /* Color del texto */
}

/* Estilos para el contenedor principal */
.box-principalcodeshow {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Estilos para el contenedor principal */
.box-principalcodeshow {
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
.box-principalcodeshow h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para los detalles del código */
.code-detailscodeshow {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la descripción del código */
.code-detailscodeshow p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

/* Estilos para el código */
.code-detailscodeshow pre {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    overflow-x: auto;
    margin-bottom: 20px;
}

/* Estilos para el botón */
.code-detailscodeshow .btn {
    padding: 12px 24px;
    background-color: #FFC300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.code-detailscodeshow .btn:hover {
    background-color: #0056b3;
}

a{
    text-decoration: none;
}

.preCode{
    height:35rem;
    position: relative;
}

.copy-button {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde arriba según sea necesario */
    right: 10px; /* Ajusta la distancia desde la derecha según sea necesario */
    z-index: 1000; /* Asegura que el botón esté en la parte superior */
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.edit-button{
    position: absolute;
    top: 10px; /* Ajusta la distancia desde arriba según sea necesario */
    right: 40px; /* Ajusta la distancia desde la derecha según sea necesario */
    z-index: 1000; /* Asegura que el botón esté en la parte superior */
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* Modal */
.modal {
    display: none; /* Ocultar modal por defecto */
    position: fixed; /* Fijar posición */
    z-index: 1; /* Sobreponer sobre otros elementos */
    padding-top: 50px; /* Espacio encima del modal */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilitar desplazamiento */
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  }

  /* Contenido del modal */
  .modal-content {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
    transform: scale(1.3);
    justify-content: center;
    width: 80%; /* Ancho del contenido */
    max-width: 700px; /* Máximo ancho del contenido */
  }

  /* Botón de cerrar */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFC300;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .contenedor-imagen {
    text-align: center; /* Centra horizontalmente el contenido */
}

.contenedor-imagen img {
    max-width: 100%; /* La imagen no será más grande que su contenedor */
    height: auto; /* Ajusta automáticamente la altura de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}


.search-community{
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: start !important;
    display:flex;
    align-items: center !important;
    gap: 1rem;
}

.search{
    cursor: pointer;
    background: #FFC300 !important;
    color: black !important;
    width: 30px !important;
    height: 30px !important;
    border: none !important;
    border-radius:  50% !important;
}

.buscar{
    margin-bottom: 0 !important;
    width: 30rem !important;
}

.footer1{
    height: 5rem;
    width: 100%;
    background: #FFC300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 100000000;
    position: relative;
    bottom:0;
}

.contacto{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.redes img{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.yt{
    transform: scale(.8);
}

.loginButton{
    background-color: #FFC300 !important;
}

.sections{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 15rem;
}


.sections a{
    color: white;
}

@media only screen and (max-width: 800px) {
    .buscar{
        width: 20rem !important;
    }
    .createForm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
    .create{
        display: flex;
        justify-content: center;
    }
    .tdes{
        flex-direction:column;
    }
    .text{
        width: 20rem !important;
        margin:2rem;
    }
    .codes-created h2{
        display: flex;
        justify-content: center;
    }
    .codes-created{
        margin-left: 0;
    }
    .profile-info{

        width: 20rem !important;
    }
    .codes{
        width: 17rem !important;
    }
    .codeperfil{
        width: 15rem;
        overflow: hidden;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-principalperfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .products{
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }
    .box-principal{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;

    }

    .box-principal1{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-principal1 p{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .sectionshome{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100px;
        gap: 1rem !important;
    }

    .section-imghome{
        width: 200px !important;
        height: 200px !important;
    }

    .header{
        justify-content: start;
    }
  }

  .box-principal, .box-principalperfil{
    padding-top: 5rem;
  }

  .homeboxes {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .homebox{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 40rem;
    width: 50%;
  }

  .titlehome{
    background: white;
    width: 100%;
    height: 5rem;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 30px 30px 0 0;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .titlehome a{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 2px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .titlehome a *{

    transform: scale(1.5);

  }

  .imgdes{
    background: #FFC300;
    width: 100%;
    height: 45rem;
    border-radius: 0 0 30px 30px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .imagenbox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagenbox2{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagenbox img,.imagenbox2 img{
    border-radius: 30px;
    height: 35rem;
    width: 35rem;
  }

  .homebox2{
    width: 71.5%;
    margin-top: 8rem;
  }
  .imgdes2{
    flex-direction: row;
  }

  .descriptionbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .price{
    color: white;
    font-weight: 600;
    font-size: 64px;
  }

  .descriptionbox button{
    color: black !important;
    background: white;
    border:none;
    padding: 1rem;
    border-radius: 30px;
    width: 20rem;
  }

  .descriptionbox button h1{
    color: black;
  }

  .show{
    display: flex;
  }

  .notshow{
    display:none;
  }

  .img_profile {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.profile_header {
    position: relative;
    cursor: pointer;
}

.navigation_profile {
    position: absolute;
    background: white;
    border-radius: 11px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    left: -10rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    transition: all 300ms ease;
}

.navigation_profile a {
    background: none !important;
    color: black !important;
    transition: background-color 0.3s ease; /* Transición para el cambio de color de fondo */
}

.navigation_profile a:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo negro transparente al pasar el ratón */
}

.profile_toggle_checkbox {
    display: none;
}

.profile_header .navigation_profile {
    display: none;
}

.profile_toggle_checkbox:checked + .profile_header .navigation_profile {
    display: block;
}

#container3D canvas{
    width: 100rem;
    height: 100rem;
}

.docprincipal{
    margin: 50px auto;
    display: flex;
    padding-top: 5rem;
    margin-left: 20rem;
}

.explorerDoc{
    display: flex;
    border: 3px solid #FFC300;
    border-radius: 30px;
    padding: 1rem;
    flex-direction: column;
    gap: .5rem;
    height:fit-content;
}

.contentDoc{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 3px solid #FFC300;
    border-radius: 30px;
    margin-left: 3rem;
    width: 55rem;
    position: relative;
    padding-bottom:5rem;
}

.contentDoc p{
    text-justify:inherit;
    text-align: justify;
    line-height: 1cm;
    font-weight:400;
}

.nextDoc{
    position: absolute;
    right:1rem;
    bottom:2rem;
    display: flex;
    align-items: center;
}

.previousDoc{
    position: absolute;
    left:1rem;
    bottom:2rem;
    display: flex;
    align-items: center;
}

.codeDoc{
    width: 100%;
    display: flex;
    justify-content: center;
}

.codeDoc code{
    display: flex;
    background: lightgray;
    padding: 1rem;
    font-weight: 500;
    border-radius: 30px;
    width: 80%;
    overflow: auto;
}

.dDoc{
    display: flex;
    width: 100%;
    justify-content: center;
}


